@charset "EUC-KR";
@font-face {
    font-family: 'STUNNING-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/STUNNING-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'STUNNING-Bd';
    background-color: #f7f7fc;
}

.SBT_page {
    width: 100%;
    display: block;
    overflow: hidden;
    align-items: center;
}

.SBT_title {
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.056px;
    margin: 126px 0 0 0;
}

.SBT_Subtitle {
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.036px;
}

.SBT_input-field {
    display: block;
    margin: 2.4rem auto 0.6rem;
    width: 51.3rem;
    height: 16.3rem;
    border: none;
    border-radius: 10px;
    padding: 9px 12px 9px 12px;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    resize: none;
    
}

.SBT_input-field:focus {
    outline: none;
}

.SBT_EX-content {
    color: rgba(0, 0, 0, 0.35);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.028px;
    margin: 0 0 2rem calc(50vw - 412px);
    align-self: flex-start;
    flex-shrink: 0;
}

.SBT_request-button {
    display: block;
    margin: 0 auto 106px;
    width: 8.8rem;
    height: 2.9rem;
    flex-shrink: 0;
    background-color: var(--story, #6133e2);
    border: 1px solid #6133e2;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

