@charset "EUC-KR";


* {
	margin: 0;
    padding: 0;
}
    
html {
    font-size: 10px;
}
    
ul, li {
    list-style: none;
}
    
a {
    text-decoration: none;
    color: inherit;
}
    
.board_wrap {
    width: 1000px;
    margin: 100px auto;
}
    
.board_title {
    margin-bottom: 30px;
}
    
.board_title strong {
    font-size: 3rem;
}
    
.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}
    
.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
    text-align: center;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}
    
.bt_wrap a:first-child {
    margin-left: 0;
}
    
.bt_wrap a.on {
    background: #000;
    color: #fff;
}
    
    .board_list {
        width: 100%;
        border-top: 2px solid #000;
    }
    
    .board_list > div {
        border-bottom: 1px solid #ddd;
        font-size: 0;
    }
    
    .board_list > div.top {
        border-bottom: 1px solid #999;
    }
    
    .board_list > div:last-child {
        border-bottom: 1px solid #000;
    }
    
    .board_list > div > div {
        display: inline-block;
        /* ⬅️ 가운데 정렬!!! */
        padding: 15px 0;
        /* ⬅️ 모든 줄의 여백 15px 0 */
        text-align: center;
        font-size: 1.4rem;
        /* ⬅️ 부모에다가 font-size: 0을 줌. */
    }
    
    .board_list > div.top > div {
        font-weight: 600;
    }

    .board_list .num {
        width: 10%;
        /* ⬅️ 순번란이 10%의 영역을 가지게 된다. */
    }
    
    .board_list .title {
        width: 60%;
        text-align: left;
    }
    
    .board_list .top .title {
        text-align: center;
    }
    
    .board_list .writer {
        width: 10%;
    }
    
    .board_list .date {
        width: 19%;
    }
    
    .board_list .count {
        width: 10%;
    }
    
    .board_page {
        margin-top: 30px;
        /* ⬅️ 위로 여백 */
        text-align: center;
        /* ⬅️ 가운데정렬로 */
        font-size: 0;
        /* ⬅️ 페이지 순서 박스 사이의 여백 없애기 */
    }
    
    .board_page a {
        display: inline-block;
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        /* ⬅️ .board_page a한테 padding을 넣게 되면서 상자가 길어지게 되는데, 이를 방지 하기 위해서 이 패딩을 넣고 말아라. 하는 코드부분(상자높이 32px를 넘지 않게) */
        vertical-align: middle;
        /* 박스 높낮이 같게 */
        text-align: center;
        border: 1px solid #ddd;
        border-left: 0;
        line-height: 100%;
    }
    
    .board_page a.bt {
        padding-top: 6px;
        font-size: 1.2rem;
        letter-spacing: -1px;
    }

    .board_page a.num {
        padding-top: 6px;
        font-size: 1.4rem;
    }

    .board_page a.num.on {
    	padding-top: 6px;
        border-color: #000;
        background: #000;
        color: #fff;
    }

    .board_page a:first-child {
        border-left: 1px solid #ddd;
    }